.sign-in-flex-container {
	display: flex;
	width: 100%;
	height: 100%;
}
.sign-in-flex-child {
	width: 50%;
}
#sign-in-flex-child1 {
	text-align: center;
	margin-top: 2em;
}
#sign-in-flex-child2 {
	
}
#subtitle {
	margin: 0;
    font-size: 1.2em;
    color: rgb(0, 188, 212);
    font-weight: 500;
    background-color: white;
}
.cloud-field {
	margin: 0 5%;
	width: 200px;
	display: inline-block;
}
#cloud {
	z-index: 2;
	top: -250px;
	margin: 0 auto;
	height: 200px;
	width: 600px; 
	background: #f2f9fe;
	background: linear-gradient(to bottom, white 5% , #d6f0fd 100% );
	background: -webkit-linear-gradient(to bottom, white 5% , #d6f0fd 100% );
	background: -moz-linear-gradient(to bottom, white 5% , #d6f0fd 100% );
	background: -ms-linear-gradient(to bottom, white 5% , #d6f0fd 100% );
	background: -o-linear-gradient(to bottom, white 5% , #d6f0fd 100% );
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: relative;
	text-align: center;
}
#cloud1 {
	margin: 0 auto;
	z-index: 1;
	left: 80px;
	top: 130px;
	width: 300px; 
	height: 300px;
	background: #f2f9fe;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	position: relative;
	background: white;
}

#signin-cloud {
	z-index: 2;
	top: -300px;
	margin: 0 auto;
	height: 200px;
	max-width: 500px; 
	background: #f2f9fe;
	background: linear-gradient(to bottom, #f2f9fe 5% , #d6f0fd 100% );
	background: -webkit-linear-gradient(to bottom, #f2f9fe 5% , #d6f0fd 100% );
	background: -moz-linear-gradient(to bottom, #f2f9fe 5% , #d6f0fd 100% );
	background: -ms-linear-gradient(to bottom, #f2f9fe 5% , #d6f0fd 100% );
	background: -o-linear-gradient(to bottom, #f2f9fe 5% , #d6f0fd 100% );
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: relative;
	text-align: center;
}

#signin-cloud1 {
	margin: 0 auto;
	z-index: 1;
	top: 30px;
	left: 80px;
	max-width: 250px; 
	height: 250px;
	background: #f2f9fe;
	border-radius: 250px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	position: relative;
}
#signin-cloud2 {
	margin: 0 auto;
	z-index: 1;
	right: 110px;
	top: -180px;
	max-width: 200px; 
	height: 200px;
	background: #f2f9fe;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	position: relative;
} 
#cloud-text-1 {
	top: 53px;
}
#cloud-text-2 {
	top: 133px;
}
#cloud-text-3 {
	top: 93px;
}
.cloud-text{
	background-color: white;
    position: absolute;
    height: 1.3em;
    line-height: 1.6;
    padding-left: 1em;
    padding-left: .5em;
    padding-right: .5em;
    -webkit-box-shadow: 0.2em 0.1em 0.8em 0.19em #d6f0fd inset;
    box-shadow: 0.2em 0.1em 0.8em 0.19em #d6f0fd inset;
    font-weight: 600;
    font-size: 1.4em;
    left: 50px;
    color: rgb(0, 188, 212);
}
#cloud2 {
	margin: 0 auto;
	z-index: 1;
	right: 110px;
	top: -120px;
	width: 200px; 
	height: 200px;
	background: white;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	position: relative;
}
.modal-container{
	background-color: rgba(0, 0, 0, 0.45);
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 100;
}
.modal-button{
	margin-top: 4em;
    width: 40px;
    position: absolute;
    margin-left: 27em;
}